body {
  padding-right: 20px;
  /* Встановіть бажаний відступ вправо */
}

header {
  display: flex;
  /* Встановлюємо flexbox контейнер */
  justify-content: first baseline;
  /* Розподіляємо простір між елементами */
  align-items: center;
  /* Вирівнюємо елементи по вертикалі по центру */
}

.nav-item {
  padding: 20px;
  /* Додаємо відступи навколо тексту */
  text-decoration: none;
  color: #000;
  /* Змініть колір тексту за потребою */
}

.nav-item:hover {
  color: #666;
  /* Змініть колір тексту при наведенні за потребою */
}